<html>
    <head>
        <title>Spotify Poet</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
        	<div id="left-container">
		    	<div class="title">
		        	<h1>Your Poetry</h1>
		        </div>
		        <div id="poetry">
		        	<form method="post" action="{{ url_for('find_tracks') }}">
		            	<label for="yourname">Call your muse and type in your words of inspiration:</label>
		                <textarea name="poetry" cols="40" rows="5">{{poetry}}</textarea>
		                <br />
		                <input type="submit" />
		            </form>
		        </div>
		    </div>
	        <div id="right-container">
		        <div class="title">
		            <h1>Your Track List</h1>
		        </div>
		        <div id="track_list">
		        	<table>
		            	<tr>
		            		<th width="50%">Track</th>
		            		<th>Artist</th>
		            		<th>Album</th>
		            	</tr>
					{% for verse_tracks in poetry_tracks %}
						{% for track in verse_tracks %}
							<tr>
								{% if track.id %}
								<td><a href="http://open.spotify.com/track/{{ track.id }}" target="_blank">{{ track.name }}</a></td>
								{% else %}
								<td>{{ track.name }}</td>
								{% endif %}
								<td>{{ track.artists }}</td>
								<td>{{ track.album }}</td>
							</tr>
						{% endfor %}
					{% endfor %}
					</table>
		    	</div>
	        </div>
	    </div>
    </body>
</html>
</html>